<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultColumnCount</key>
	<integer>10</integer>
	<key>defaultRowCount</key>
	<integer>10</integer>
	<key>globalHotkey</key>
	<dict>
		<key>keyCode</key>
		<integer>50</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>lastColumnCount</key>
	<integer>6</integer>
	<key>lastRowCount</key>
	<integer>6</integer>
	<key>shortcuts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIhYZUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAWCQoYLzA3QUJKS1NUXF1lZm5vd3iAgVUkbnVsbNILDA0OViRjbGFz
	c1pOUy5vYmplY3RzgBWpDxAREhMUFRYXgAKABYAHgAmAC4ANgA+AEYAT3RkaGxwdHh8g
	ISIjJAslJicoKSYqKywoJSouXxASc2VsZWN0aW9uRW5kQ29sdW1uXxARc2VsZWN0aW9u
	U3RhcnRSb3dca2V5Q29tYm9Db2RlV2VuYWJsZWRda2V5Q29tYm9GbGFnc18QFHNlbGVj
	dGlvblN0YXJ0Q29sdW1uW3NpemVDb2x1bW5zWnN1YmRpdmlkZWRXbmFtZUtleVZnbG9i
	YWxfEA9zZWxlY3Rpb25FbmRSb3dYc2l6ZVJvd3MQBBAAEBIJEgAYAAAQCgiAAwmABFEx
	0jEyMzZYJGNsYXNzZXNaJGNsYXNzbmFtZaI0NVhTaG9ydGN1dFhOU09iamVjdFhTaG9y
	dGN1dN0ZGhscHR4fICEiIyQLOCY5KDs8Kis+KCUqLhAJEBMJEgAYAAAQBQiABgmABFEy
	3RkaGxwdHh8gISIjJAslPEMoRSYqK0coOCouEBQJEgAYAAAIgAgJgARRM90ZGhscHR4f
	ICEiIyQLODxMKE48KitQKDgqLhAVCRIAGAAACIAKCYAEUTTdGRobHB0eHyAhIiMkCyUm
	VShXJiorWSg4Ki4QFwkSABgAAAiADAmABFE13RkaGxwdHh8gISIjJAs4Jl4oYDwqK2Io
	OCouEBYJEgAYAAAIgA4JgARRNt0ZGhscHR4fICEiIyQLOCZnKGkmKitrKCUqLhAaCRIA
	GAAACIAQCYAEUTfdGRobHB0eHyAhIiMkCzg8cChyJiordCg4Ki4QHAkSABgAAAiAEgmA
	BFE43RkaGxwdHh8gISIjJAs4JnkoeyYqK30oOCouEB0JEgAYAAAIgBQJgARRMNIxMoKD
	o4OENV5OU011dGFibGVBcnJheVdOU0FycmF5EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIA
	CAARABYAHwAoADIANQA6ADwAVQBbAGAAZwByAHQAfgCAAIIAhACGAIgAigCMAI4AkACr
	AMAA1ADhAOkA9wEOARoBJQEtATQBRgFPAVEBUwFVAVYBWwFdAV4BYAFhAWMBZQFqAXMB
	fgGBAYoBkwGcAbcBuQG7AbwBwQHDAcQBxgHHAckBywHmAegB6QHuAe8B8QHyAfQB9gIR
	AhMCFAIZAhoCHAIdAh8CIQI8Aj4CPwJEAkUCRwJIAkoCTAJnAmkCagJvAnACcgJzAnUC
	dwKSApQClQKaApsCnQKeAqACogK9Ar8CwALFAsYCyALJAssCzQLoAuoC6wLwAvEC8wL0
	AvYC+AL9AwEDEAMYAx0AAAAAAAACAQAAAAAAAACHAAAAAAAAAAAAAAAAAAADLw==
	</data>
	<key>useDefaultGrid</key>
	<true/>
	<key>useGlobalHotkey</key>
	<true/>
</dict>
</plist>
